* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:rgb(234, 245, 255);
}

.Nav{
    display:flex;
    justify-content: space-between;
    padding:20px;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.Nav_Links{
    display:flex;
    gap:35px;
    flex-wrap: wrap;
}

.Nav_Img img{
    height:90px;
    width:250px;
}

.Link1{
    text-decoration:underline 3px solid rgb(97, 206, 112);
}

.Nav_Buttons{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    width:200px;
    flex-wrap: wrap;    

}
.Nav_Buttons button{
    display:flex;
    justify-content: center;
    align-items: center;
    height:40px;
    width:40px;
}
.Nav_Buttons_1{
    border-radius:50%;
    border:none;
    background-color:gray;
}
.Nav_Buttons_2{
    border-radius:25px;
    border:none;
    background-color:rgb(2, 123, 248);
    color:white;
    padding-left:50px;
    padding-right:50px;
    display:flex;
    text-align:center;
}

.Nav_Buttons img{
    height:20px;
    width:20px;
}
.Nav_Links a{
    text-decoration: none;
    color:rgb(2, 86, 255);
    font-size:20px;
}

.Nav_Links a:hover{
    text-decoration:underline 3px solid rgb(97, 206, 112);
}

.Main{
    padding-left:100px;
    padding-right:100px;
    height: 100%;
    background-color:rgb(234, 245, 255);
    border-radius:20px;
    box-shadow: 10px 10px 10px 8px rgba(0, 0, 0, 0.171);
}

.Main_General{
    display: flex;
    flex-wrap: wrap;
}
.Main_User{
    display:flex;
    width:100%;
    border-bottom:2px solid rgb(205, 207, 213);
    justify-content: space-between;
    align-items:center;
}

.Main_User_Info{
    gap:15px;
    display:flex;
    align-items:center;
}
.Main_User img{
    height:150px;
    width:150px;
}
.Main_User p{
font-size:22px;
}

.Main_User_Button button{
width:50px;
height:50px;
display:flex;
align-items: center;
justify-content: center;
border: 1px solid rgb(238, 51, 46);
border-radius:5px;
}

.Main_User_Button button:hover{
    background-color:rgba(238, 52, 46, 0.692);
}
.Main_User_Button img{
width:40px;
height:40px;
}

.Main_Links{
    width:300px;
    border-right:2px solid rgb(205, 207, 213);
    flex:1;
}
.Main_Link{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:15px;
    padding:5px;
    margin-bottom:10px;
}

.Main_Link a{
    text-decoration: none;
    color:black;
}

.Main_Link:hover{
    background-color:rgba(128, 128, 128, 0.253);
}
.Main_Link img{
    width:30px;
    height:30px;
}

.Main_Link1{
    border-bottom:2px solid rgb(205, 207, 213);
    padding:10px;

}

.Main_Link2{
    border-bottom:2px solid rgb(205, 207, 213);
    padding:10px;
}

.Main_Link2 p{
    color:rgba(128, 128, 128, 0.63);
    margin-bottom:10px;
}

.Link_Seleccionado{
    background-color:rgb(62, 101, 222);
    color:white;
}

.Link_Seleccionado:hover{
    background-color:rgb(28, 56, 139)
}

.Main_Info{
    display: flex;
    justify-content:flex-start;
    flex:3;
    margin-top:20px;
    flex-direction: column;
    gap:20px;
    margin-left:25px;
    flex-wrap: wrap;
}

.Info_Cursos{
    display:flex;
    flex-direction: row;
    gap:15px;
    padding-bottom:10px;
    border-bottom:2px solid rgb(205, 207, 213);
}

.Info_Cursos a{
    text-decoration: none;
}

.Curso{
    color:rgb(73, 73, 73);
}

.Curso_Seleccionado{
    color:rgb(86, 119, 225);
    border-bottom: 2px solid rgb(86, 119, 225);
}

.Curso:hover{
    color:rgb(86, 119, 225);
    border-bottom: 2px solid rgb(86, 119, 225);
}
.Info_Cursos_Cajas{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:10px;
}
.Curso_Caja{
    height:350px;
    width:270px;
    display: flex;
    flex-direction: column;
    background-color:white;
    box-shadow: 2px 4px 8px rgb(161, 161, 161);
    border-radius: 10px;
    transition: box-shadow 0.5s ease;
}

.Curso_Caja img{
    height:200px;
    border-radius:10px 10px 0px 0px;
}

.Curso_Caja p{
    font-size:12px;
    margin:10px;
}
.Curso_Caja h1{
    font-size:15px;
    margin:10px;
}

.Curso_Caja:hover{
    box-shadow:4px 8px 16px rgb(161, 161, 161);

}